.container{
    display: block;
    max-width: 330px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
    
  mat-form-field {
    display: block;
  }
  
  .picture {
    text-align: center;
  }
  
  .avatar {
    border-radius: 50%;
  }
  